<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bérenger Ancelin : Coach Sportif</title>
<meta name="description" content="Bérenger Ancelin, coach sportif en Yvelines diplom&eacute; d&eacute; en coaching personnel, musculation, renforcement musculaire." />
<meta name="keywords" content=" B&eacute;rengerAncelin,coach sportif,parcours,judo,kickboxing,tennis,full contact,préparateur physique,formation" />
<meta name="robots" content="index,follow" />
<meta name="Copyright" CONTENT="Copyright © 2012 Appix">
<meta http-equiv="Content-Language" content="fr" />		
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="verify-v1" content="X1MEqMaPtSGd2r5tB2Wt0qFOUSBb9G0NxA9i3WXfmmg" />
<link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div id="background">
<div id="conteneur">
	<div id="header">
    <a href="#"><img src="images/logo.jpg" height="80" border="0" alt="Berenger Ancelin"/></a>
 	</div>
    
    <div id="menuh">
       <ul >
  			<li><a href="index.html">Services</a></li>
            <li><a href="coach.html">Coach</a></li>
            <li><a href="contact.php">Contact</a></li>
          </ul>
    </div>

    <div id="contenu2">
    
        <div id="coachg1"><img src="images/coach-profil.jpg" alt="" /></div>
    	<div id="coachd1">
        	<h1>Services</h1>
            	<div id="coachd1txt1">
                <img src="images/carre.jpg" alt="" /> Gratuated in Personnal training, musculation, muscle building.<br />
<img src="images/carre.jpg" alt="" /> Gratuated in physical preparation.<br />
<img src="images/carre.jpg" alt="" /> Tennis teaching</div>
		</div>
         
         
        <div id="coachd2">
        	<h1 id="psh1">Sporting career</h1>
            	<div id="coachd2txt1">
                <img src="images/carre.jpg" alt="" /> 10 years of judo<br />&nbsp;&nbsp;&nbsp;4th at the France Judo<br />&nbsp;&nbsp;&nbsp;Championships Juniors.<br /><br />
<img src="images/carre.jpg" alt="" /> 10 years of Full-Contact / Kickboxing :<br />
&nbsp;&nbsp;&nbsp;National level and black belt.<br /><br />
<img src="images/carre.jpg" alt="" /> 23 years of Tennis :<br />
&nbsp;&nbsp;&nbsp;National level : ranking 3/6</div>
         </div>
         
        <div id="coachd3">
        	<h1>Missions effectuées</h1>
            	<div id="coachd3txt1">
                <img src="images/carre.jpg" alt="" /> Personnal coaching :<br />&nbsp;&nbsp;&nbsp;muscle building/tonicity<br />&nbsp;&nbsp;&nbsp;treatment of various pathologies<br />&nbsp;&nbsp;&nbsp;weight loss<br /><br />
<img src="images/carre.jpg" alt="" /> Individual or club physical preparation<br /><br />
<img src="images/carre.jpg" alt="" /> Physical preparation for high level Athletes</div>
        </div>
        
      <div id="coachg2">
       	<h2>Bérenger Ancelin</h2>
		   <p>Personnal trainer<br />
	       fitness trainer</p>
	  </div>       
        
        
	 </div>
    
    <div id="footer"><div id="lien">Copyright © 2012 - Bérenger Ancelin - All right reserved - Design &amp; Developpement: <a href="http://appix.fr/" target="_blank">Appix.fr</a>
        </div>
    	<div id="menubas">
<a href="index.html">Services</a><br />
<a href="coach.html">Coach</a><br />
<a href="contact.php">Contact</a>
        </div>
        
    </div>

    
   
    
</div>
</div>







</body>
</html>

