<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bérenger Ancelin : Coach Sportif</title>	
<meta name="description" content="B&eacute;renger Ancelin, coach sportif en Yvelines, pour sport individuels ou collectifs, initiation, perfectionnement , compétition, mais aussi coaching personnel à domicile, stretching et relaxation, cardio training, renforcement musculaire..." />
<meta name="keywords" content=" coach,coach sportif,berenger ancelin,yvelines,78,paris,coach personnel,sport, musculation,comp&eacute;tition,stretching,relaxation,cardio,cardio training, pr&eacute;paration physique,conseil nutritionnel,prestation" />	
<meta name="robots" content="index,follow" />
<meta name="Copyright" CONTENT="Copyright © 2012 Appix">
<meta http-equiv="Content-Language" content="fr" />
<meta name="verify-v1" content="X1MEqMaPtSGd2r5tB2Wt0qFOUSBb9G0NxA9i3WXfmmg" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div id="background">
<div id="conteneur">
	<div id="header">
    <a href="#"><img src="images/logo.jpg" height="80" border="0" alt="Berenger Ancelin"/></a>
 	</div>
    
    <div id="menuh">
       <ul >
  			<li><a href="index.html">Prestations</a></li>
            <li><a href="coach.html">Coach</a></li>
            <li><a href="contact.php">Contact</a></li>
          </ul>
    </div>

    <div id="contenu1">
    	<div id="prestazonetxt">
        	<h1>Catégories</h1>
             <div id="prestad2">
<img src="images/carre.jpg" alt=""/> Stretching - Relaxation<br />
&nbsp;-&#8250; <a href="#">Détails<span>Programme de stretching, assouplissement,<br /> étirement.</span></a><br /><br />
<img src="images/carre.jpg" alt="" /> Conseils nutritionnels<br />
&nbsp;-&#8250; <a href="#">Détails<span>Conseils nutritionnels adaptés à chacun,<br /> en fonction de votre âge, de votre activité.</span></a>
			 </div>
            <div id="prestad1">
<img src="images/carre.jpg" alt="" /> Musculation - Renforcement musculaire<br />
&nbsp;-&#8250; <a href="#">Détails<span>Avec matériel en salle ou petit matériel<br /> (élastique, swiss ball, tapis), concept TRX.</span></a><br /><br />
<img src="images/carre.jpg" alt="" /> Cardio training<br />
&nbsp;-&#8250; <a href="#">Détails<span>Avec matériel en salle, sans matériel, kickboxing.</span></a><br /><br />
<img src="images/carre.jpg" alt="" /> Préparation physique<br />
&nbsp;-&#8250; <a href="#">Détails<span>Pour sports individuels ou collectifs,<br /> initiation, perfectionnement, compétition.</span></a>
			</div>
        </div>
        
       <div id="prestag1"> 
       <p>Selon vos objectifs personnels, je mets<br />en place tous les moyens<br />nécessaires pour dépasser<br />vos attentes.</p>
      </div> 
        <div id="prestag2">
        <p>Etude et suivi personnalisé,<br />
        au cas par cas.</p></div>
        
	 </div>
    
    <div id="footer"><div id="lien">Copyright © 2012 - Bérenger Ancelin - Tous droits réservés - Design &amp; Développement: <a href="http://appix.fr/" target="_blank">Appix.fr</a>
        </div>
    	<div id="menubas">
<a href="index.html">Prestations</a><br />
<a href="coach.html">Coach</a><br />
<a href="contact.php">Contact</a>
        </div>
        
    </div>

    
   
    
</div>
</div>






</body>
</html>

